= simple_form_for(@project, :html => {:class => "form-horizontal"}) do |f|
  = f.error_notification

  = f.input :name, input_html: { class: "span6" }, hint: "Name of your Project e.g. Nexus Reloaded"
  = f.input :code, input_html: { class: "span3" }, hint: "e.g. nexus_reloaded"
  = f.input :recipients, input_html: { class: "span4" }, hint: "e.g. release-1@onekingslane.flowdock.com , ..."
  = f.input :description, as: :text, input_html: { class: "span6" }, hint: "Short Description"

  .form-actions
    = f.button :submit, class: "btn-primary"
    = link_to "or cancel and go back", projects_path