- if params[:project].nil?
  - params[:project] = ["king"]
%h1

= render 'project_env_status_form'

%table.table.table-striped.table-condensed
  %colgroup
    .col.span1
    .col.span1
  %caption
    %strong
      = @service.name
  %thead
    %th Environment
    %th Release
    %th User
    %th Deploy Date (PST)
    %th Logs
    - @latest.sort.each do |e,d|
      %tr
        %td= e
        %td= d.name.gsub(/\.zip$/,'')
        %td= d.username
        %td= d.started_at.in_time_zone("Pacific Time (US & Canada)")
        %td
          - if d.log_path
            = link_to "View logs", logs_deployment_path(d.id)
